body, html {
  width: 100%;
  height: 95%;
  margin: 0;
}
.row {				
  width: 100%;
  height: 100%;
  margin: 0;	
}

.container-fluid {
  width: 100%;
  height: 100%;
}

.leftpane {
    width: 25%;
    height: 100%;
    float: left;
    border-collapse: collapse;
}
.rightpane {
  width: 75%;
  height: 100%;
  position: relative;
  float: right;
  border-collapse: collapse;
}
#db_tree {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 0;
    width: 100%;
    max-width: 98%;
    overflow: auto;
    font: 10px Verdana, sans-serif;
    box-shadow: 0 0 5px #ccc;
    padding: 10px;
    border-radius: 7px;
}
.CodeMirror {
    box-shadow: 0 0 5px #ccc;			    
border-radius: 7px;
    height: 50vh;
}
#preview-comment {
	max-width: 100%;
    overflow: auto;
    font: 10px Verdana, sans-serif;
    box-shadow: 0 0 5px #ccc;
    padding: 10px;
    border-radius: 7px;
    height: 35%;
